//Hamburger Button
.menu-btn {
    position: absolute;
    top: 35px;
    right: 35px;
    z-index: 3;
    cursor: pointer;
    @include easing;

    &:hover > .btn-line {
        background: $secondary-colour;
    }
        
    .btn-line {
        width: 24px;
        height: 4px;
        background: #eeffee;
        margin: 0 0 6px 0;
        @include easing;
    }

    &.close {
        transform: rotate(90deg);
        scale: 75%;
        scale: 100%;

        .btn-line {
            &:nth-child(1){
                transform: translate(0px,13px) rotate(315deg);
            }
            &:nth-child(2){
                opacity: 0;
            }
            &:nth-child(3){
                transform: translate(0px,-7px) rotate(-315deg);
            }
        }

    }    
}

//Button rotation, when clicked
