.showcase {
    width: 100%;
    margin: auto;
}

.show-row {
    display: flex;
    flex-flow: row wrap;
}

.show-col {
    display: flex;
    flex-basis: 100%;

    height: 100px;
    // padding: 1rem;
    border: 1px solid black;
    min-height: 300px;
}