.show-row {
    display: flex;
    flex-flow: row wrap;
}

.show-col {
    flex-basis: 100%;
    width: 100px;
    height: 100px;
    background: deeppink;
    padding: 1rem;
    border: 1px solid black;
}