@import url('https://fonts.googleapis.com/css?family=Raleway:400,600|Roboto:300,700&display=swap');
@import 'config';
@import 'menu';

* {
    box-sizing: border-box;
}

header{
    position: fixed;
    z-index: 2;
    width: 100%;
}

body {
    @include background;
    height: 100%;
    background-color: $primary-colour;
    color: $heading-colour;
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
    line-height: 1.5;
    margin: 0;
}

h1, h2, h3 {
    margin: 0;
    color: $heading-colour;
    font-weight: 400;

    &.main-heading {
        font-variant: small-caps;
        font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: 600;
        font-size: 5rem;
        text-shadow: 0 2px 10px rgba($color: #000000, $alpha: 0.7),
                     0 5px 50px rgba($color: #ffffff, $alpha: 0.8);
    }

    #highlight {
        color: $secondary-colour;
    }
}

a {
    color: $link-colour;
    text-decoration: none;
}

main{

    height: 100%;
    padding: 4rem;

    //Social Icons
    .icons{
        margin-top: 1rem;

        a {
            padding: 0.5rem;

            &:hover,&:focus {
                color: $secondary-colour;
                @include easing();
            }
        }


    }

    //Set to only move the heading down when the container
    //ID is set to #home.
    &#home {
        h1{
            margin-top: 20vh;
        }
    }
}