@import url('https://fonts.googleapis.com/css?family=Raleway:400,600|Roboto:300,700&display=swap');
@import 'config';
@import 'menu';

* {
    box-sizing: border-box;
}

header{
    position: fixed;
    z-index: 2;
    width: 100%;
}

body {
    height: 100%;
    background-color: $primary-colour;
    color: set-text-colour($primary-colour);
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
    line-height: 1.5;
    margin: 0;
}

main{
    @include background;
    background-color: $primary-colour;
    height: 100vh;
    padding: 4rem;
    position: relative;
    z-index: 0;

    //Social Icons
    .icons{
        margin-top: 1rem;

        a {
            padding: 0.5rem;

            &:hover,&:focus {
                color: $secondary-colour;
                @include easing();
            }
        }


    }

    //Set to only move the heading down when the container
    //class is set to .home.
    &.home {
        h1{
            margin-top: 20vh;
        }
    }
}

h1, h2, h3 {
    margin: 0;
    // color: $heading-colour;
    font-weight: 400;
    z-index: 2;

    &.main-heading {
        font-variant: small-caps;
        font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: 600;
        font-size: 5rem;
        text-shadow: 0 2px 10px set-shadow-colour-one($primary-colour),
                     0 5px 50px set-shadow-colour-two($primary-colour);
    }
    
    &.section-heading {
        font-variant: small-caps;
        font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: 600;
        font-size: 2rem;
    }

    #highlight {
        color: $secondary-colour;
    }
}

a {
    color: set-text-colour($primary-colour);
    text-decoration: none;
}

.sub-header {
    color: $secondary-colour;

}

.projects, .about, .contact {
    min-height: 100vh;
    width: 100%;
    padding: 4rem;
    @include easing;
}

//TEMP
.projects {
    background-color: $primary-colour;
    // display: none;
}
.about {
    background-color: darken($color: $primary-colour, $amount: 2);

    .about-info {
        margin-top: 5vh;
        display: grid;
        grid-gap: 30px;;
        grid-template-areas: 
            "bio-pic bio bio"
            "card1 card2 card3";
        grid-template-columns: 1fr 1fr 1fr;
    }

    .bio-pic {
        grid-area: bio-pic;
        width: 250px;
        height: 250px;
        background: white;
        border: 3px solid $secondary-colour;
        border-radius: 50%;
        background-image: url("../img/portrait.jpg");
        background-position: -40px 0px;
        margin: auto;

    }

    .bio {
        grid-area: bio;
    }

    .card {

        background: lighten($color: $primary-colour, $amount: 2);
        padding: 1rem;
        border-top: $secondary-colour 5px solid;
        border-bottom: $secondary-colour 2px solid;

        &-1{
            grid-area: card1;
        }
        &-2{
            grid-area: card2;
        }
        &-3{
            grid-area: card3;
        }
    }
}
.contact {
    background-color: $primary-colour;
}

@import 'mobile';